section
{
    display: flex;
    padding: 0px 0px 0px 40px;
}

a
{
    text-decoration: none;
    color: black;
}

.side-nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 20%;
}

.nav-items-container
{
    background-color: #E0E9FA;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.sort-btn
{
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.side-nav-item
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}

.side-nav-item > strong
{
    color: #1B4CF9;
    font-size: 20px;
}

.book-list
{
   background-color: white;
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 30px;
}

.book-list-item
{
    display: flex;
    gap: 20px;
}

.book-img
{
    width: 20%;
}

.book-img > img
{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.book-info-header
{
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 1em;
    font-size: 20px;
    font-weight: bold;
}

.book-info-footer
{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.reviews
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.read-btn
{
    background-color: blue;
    padding: 10px 5rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.fa-star
{
    color: #FD630D;
}

.pagination
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}

.pagination-links
{
    display: flex;
    gap: 1rem;
}

.pagination-links > a:nth-child(1)
{
    color: #1B4CF9;
}

@media screen and (max-width: 1287px) 
{
    section
    {
        flex-direction: column;
        padding: 0;
        margin-top: 2rem;
    }



    .side-nav
    {
        width: 100%;
        text-align: center;
        font-size: 20px;
        gap: 1rem;
    }

    .book-list, .book-list-item
    {
        width: 100%;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .book-img
    {
        width: 80%;
    }

    .book-info-header
    {
        width: 100%;
        align-items: center;
    }

    .book-info-header > p
    {
        width: 100%;
        text-align: center;
    }

    .book-info-footer
    {
        flex-direction: column;
    }

    .reviews
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}